<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Create</title>

</head>
<body>
<nav th:replace="layout :: navtop2"></nav>
<nav th:replace="layout :: navtop"></nav>
<div id="page-wrapper" th:fragment="navside-index">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="section-title">Create Coin</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form th:action="@{/create}" method="post" th:object="${question}">
                                    <div class="container ">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <form class="form-light mt-20" role="form">
                                                    <div class="form-group">
                                                        <label>Tiêu đề</label>
                                                        <input th:field="*{title}" type="text"
                                                               class="form-control" placeholder=" tiêu đề" required>
                                                        <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Nội dung</label>
                                                        <input th:field="*{question}" type="text"
                                                               class="form-control" placeholder="nội dung" required>
<!--                                                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> </label>-->
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Loại câu hỏi</label>
                                                        <select th:field="*{idQuestionType}"
                                                                class="form-control" required>
                                                            <option th:each="p : ${questionType}"
                                                                    th:value="${p.idQuestion}"
                                                                    th:text="${p.name}"></option>
                                                        </select>
<!--                                                        <select class="form-control"-->
<!--                                                                 required>-->
<!--&lt;!&ndash;                                                            <option th:each="p : ${customerType}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    th:value="${p.customer_type_id}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    th:text="${p.customer_type_name}"></option>&ndash;&gt;-->
<!--                                                            <option th:value="1"-->
<!--                                                                    th:text="type1"></option>-->
<!--                                                            <option th:value="2"-->
<!--                                                                    th:text="type2"></option>-->

<!--                                                        </select>-->
<!--                                                        <label th:if="${#fields.hasErrors('question_type')}" th:errors="*{idQuestionType}"> </label>-->
                                                        <!--                                                        <label th:if="${#fields.hasErrors('')}" th:errors="*{question_type}" style="color: red"></label>-->
                                                    </div>
                                                    <button type="submit" class="btn btn-success btn-lg">Create</button>
                                                    <p><br/></p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
<!--                                    <table border="1">-->
<!--                                        <tr>-->
<!--                                            <td>Name</td>-->
<!--                                            <td><input type="text" th:field="*{name}"></td>-->
<!--                                            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> </label>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>Price</td>-->
<!--                                            <td><input type="text" th:field="*{price}"></td>-->
<!--                                            &lt;!&ndash;            <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}"> </label>&ndash;&gt;-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>Date</td>-->
<!--                                            <td><input type="date" th:field="*{birthday}"></td>-->
<!--                                            <label th:if="${#fields.hasErrors('birthday')}"-->
<!--                                                   th:errors="*{birthday}"> </label>-->
<!--                                        </tr>-->
<!--                                    </table>-->
<!--                                    <button type="submit">Create</button>-->
                                </form>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>