.text1{
    position: absolute;
width: 106px;
height: 24px;
left: calc(50% - 106px/2);
top: 200px;

/* 16 Regular */

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

/* 616161 */

color: #616161;
}
.text2{
    position: absolute;
width: 553px;
height: 60px;
left: calc(50% - 553px/2);
top: 254px;

/* 48 Bold */

font-family: 'Times New Roman', Times, serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 60px;
/* identical to box height, or 125% */

text-align: center;

/* 1F1F1F */

color: #1F1F1F;
}
.div_img{
    position: absolute;
width: 524px;
height: 572px;
left: 181px;
top: 394px;

/* FAFAFA */

background: #FAFAFA;
}
.img1{
    position: absolute;
    width: 480px;
    left: 22px;
    top: 22px;
}
.text3{
    position: absolute;
    left: calc(50% - 266px/2);
    top: 388px;
    font-family: sans-serif;
    width: 266px;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */
color: #1F1F1F;

text-align: center;
}
.text4{
    position: absolute;
width: 191px;
height: 24px;
left: calc(50% - 191px/2);
top: 445px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */

text-align: center;

/* 1F1F1F */

color: #1F1F1F;
}
.text5{
    width: 414px;
    position: absolute;
left: 846px;
top: 426px;

/* 16 Regular */

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* 1F1F1F */

color: #1F1F1F;
}
.inp1{
    position: absolute;
    width: 414px;
    left:0;
    top:36px;
    border-width: 0 0 2px;
    outline: 0;
}
.text6{
    width: 414px;
    position: absolute;
    left: 846px;
    top: 540px;
    
    /* 16 Regular */
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* 1F1F1F */
    
    color: #1F1F1F;
}
.text7{
    position: absolute;
width: 414px;
height: 24px;
left: 847px;
top: 654px;

/* 16 Regular */

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* 1F1F1F */

color: #1F1F1F;

}
.inp2{
/* width: 414px;
height: 186px; */
left:0;
top:36px;
overflow: auto;

/* 1F1F1F */

border: 1px solid #1F1F1F;
box-sizing: border-box;
text-align: top;
}
.tarea{
    position: absolute;
    top:36px;
}
.btn1{
    position: absolute;
    left: 847px;
top: 915px;
width: 162px;
height: 40px;
/* C6B67E */
border: none;
background: #C6B67E;
color: white;   
}

.border41 {
    position: absolute;
    width: 100%;
    height: 370px;
    top: 1116px;
    background: #FAFAFA;
}
.text41{
    position: absolute;
    left: 46.46%;
    right: 46.53%;
    top: 21.62%;
    bottom: 71.89%;
    
    /* 16 Regular */
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    text-align: center;
    
    /* 616161 */
    
    color: #616161;
}
.text42{
    position: absolute;
left: 27.5%;
right: 27.57%;
top: 36.22%;
bottom: 47.57%;

/* 48 Bold */

font-family: 'Times New Roman', Times, serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 60px;
/* identical to box height, or 125% */

text-align: center;

/* 1F1F1F */

color: #1F1F1F;
}
.form-control_home{
    width:100%;
    height:50px
}
.cover  {
    height: 50px;
    width: 474px;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
    padding: 20px 50px;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
left: 33.54%;
right: 33.54%;
top: 64.86%;
bottom: 21.62%;

  }
  .flex-form input[type="submit"] {
    background: #C6B67E;
    color: #fff;
    padding: 0 30px;

  }
  

  
  .flex-form {
    display: flex;
    position: relative;
    width: 474px;
    border: 1px solid #1F1F1F;
  }
  
  .flex-form > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
  }
  
  input[type="email"] {
    flex-basis: 500px;
  }


  footer{
    position: absolute;
    width: 100%;
    height: 602px;
    /* bottom: 0px; */
    top: 1486px;
    /* 1F1F1F */
    
    background: #1F1F1F;
  }
  .img_footer{
    position: absolute;
    width: 150px;
    left: 18.33%;
    right: 71.25%;
    top: 19.1%;
    bottom: 66.35%;
  }
  .footer_text_1{
    position: absolute;
    left: 12.71%;
    right: 65.62%;
    top: 36.05%;
    bottom: 60.96%;
    
    /* 12 Regular */
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    text-align: center;
    
    /* FFFFFF */
    
    color: #FFFFFF;
  }
  .footer_text_2{
    position: absolute;
    left: 43.26%;
    right: 50.9%;
    top: 18.77%;
    bottom: 77.91%;
    
    /* 14 Regular */
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    
    /* FFFFFF */
    
    color: #FFFFFF;
  }
  .footer_ul_1{
    position: absolute;
    left: 43.26%;
    right: 49.1%;
    top: 25.42%;
    bottom: 41.36%;
    
    /* 14 Regular */
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    /* ACACAC */
    
    color: #ACACAC;
  }
  .footer_ul_1> li,.footer_ul_2> li{
    font-weight: lighter;
      margin-top: 15px;
  }
  .footer_text_3{
    position: absolute;
    left: 60.42%;
    right: 35.21%;
    top: 18.77%;
    bottom: 77.91%;
    
    /* 14 Regular */
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    
    /* FFFFFF */
    
    color: #FFFFFF;
  }
  .footer_ul_2{
    position: absolute;
    left: 60.42%;
    right: 30.69%;
    top: 25.42%;
    bottom: 66.28%;
    
    /* 14 Regular */
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    /* ACACAC */
    
    color: #ACACAC;
  }
  .footer_text_5{
    position: absolute;
    left: 78.19%;
    right: 18.19%;
    top: 18.77%;
    bottom: 77.91%;
    
    /* 14 Regular */
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    
    /* FFFFFF */
    
    color: #FFFFFF;
  }
  .footer_ul_3{
    position: absolute;
    left: 78.19%;
    top: 25.42%;
    bottom: 66.28%;
    
    /* 14 Regular */
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    /* ACACAC */
    
    color: #ACACAC;
  }
  .footer_ul_3 > li{
      display: inline-block;
      color: #ACACAC;
      
  }
  .cpr{
    position: absolute;
    left: 42.22%;
    right: 42.22%;
    top: 79.07%;
    bottom: 17.94%;
    
    /* 12 Regular */
    
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    text-align: center;
    
    /* ACACAC */
    
    color: #ACACAC;
  }
  .btn-outline-secondar:hover{
      /* color: #FFFFFF; */
  }
  .text-muted:hover{
      color: #FFFFFF;
  }
  .nav_btn{
      width:170px;
      height:45px;
    position: absolute;
    left: 50%;
    top: 584px;
    
    /* 1F1F1F */
    background-color: transparent;
    border: 1px solid #1F1F1F;
    box-sizing: border-box;
  }
  .btn_mid{
    position: absolute;
    width: 160px;
    height: 45px;
    right: calc(50% - 160px/2 );
    top: 1998px;
    
    /* C6B67E */
    color: #FFFFFF;
    border: none;
    background: #C6B67E;
  }
