* {
  box-sizing: border-box;
}
/* body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */
input{
  border-color: #777;
  width: 190px;
  padding: 5px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button {
  width: 270px;
  background-color: #2F545C; /* Green */
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 4px;
  margin-left: 20px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.div2 table td th {
  border: 1px solid black;
}

.div2 table {
  border-collapse: collapse;
  width: 100%;
}

.div2 td {
  text-align: center;
  margin-top: 20px;
}
.div2{
  margin-top: 20px;
}
.div2 button{
  width: 100px;
}
.div1{
  font-size: 15px;
  font-weight: bold;
  /* margin-right: 50px; */
}
/* Style the header */
/* header {

  text-align: center;
  

   background-color: #E8E8E8  ;
   padding: 0.1px;
} */

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 25%;
  height: 720px;
   /* only for demonstration, should be removed */
  background: #C5D1CF;
  padding: 12px;
}
nav td{

height: 58px;
}

/* Style the list inside the menu */
/* nav table{
  margin-left: ;
} */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  font-size: small;
  float: left;
  padding: 20px;
  width: 75%;
  background-color: #f1f1f1;
  height: 720px; 
  /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #E8E8E8;
  padding: 10px;
  text-align: center;
  color: white;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

select{
  background-color: #E8E8E8;
  border-radius: 4px;
  height: 30px;
  width: 190px;
  
}
.btn{
  margin-top: 20px;
}
h2{
  font-size: 30px;
  margin-right: 600px;
  margin-top: 40px;
  float: right
  /* font-family: inherit; */
}
img{
  margin-left: 30px;
  width: 100px;
  height: 150px;
}

